#astronav {
	width: 100%;
	text-align: center;
	display: block;
	padding: 1em;
}

a.astronav {
	min-height: 100px;
	padding: 0.5em;
}

#astro-media-wrapper {
	padding-top: 0px;
	width: 100%;
	display: block;
}

.astro-media-event-wrapper {
	width: 100%;
	display: table;
	border-bottom: 0.2em outset black;
	box-sizing: border-box;
	clear: both;
}

.astro-media-event-wrapper  h1 {
	font-size: 1.2em;
	margin: 0.5em 0em;
}

section.astro-media-img {
	display: block;
	float: left;
	width: 75%;	
	box-sizing: border-box;
}
section.astro-media-text {
	display: block;
	width: 25%;
	float: left;
	box-sizing: border-box;
	padding: 0em 1em;
}

h1.planet-name {
	width: 100%;
	display: block;
	font-size: 2em;
	/* line-height: 2.5em;*/
	text-align: center;
	border-bottom: 0.2em solid #AAA;
	/* background-color: #AAA; */
	margin: 0.2em 0em 0em 0em;
}

.astro-media-img img {
	width: 100%;
}

@media screen and (max-width: 900px) {
	.astro-media-event-wrapper {
		padding: 0.2em !important;
	}
	
	.astro-media-img {
		padding: 0em !important;
	}

	.astro-media-text {
		padding: 0.5em !important;
	}
	section.astro-media-img, section.astro-media-text {
		width: 100% !important;
		
	}
}
